/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400|Oxygen:400,700');
$header-font: "Montserrat", "sans-serif";
$base-font: "Oxygen", "sans-serif";


// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #800020;
$complimentary: #F2BB05;
$off-brand: #9D1436;
$off-complimentary: #BD2F53;
$mid-grey: #C4BBAF;
$light-grey: #E9E6E1;
$dark-grey: #34353A;

// $off-brand: #3D1400;
// $complementary: #317B00;
// $off-complementary: #005E3D;
// $light-grey: #C2CCCD;


$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$green: #32B796;
$gray: #000000;
