<%= @event.title %>



<p>Donate to fundraiser through event?</p>
<%= render 'event_donations/form', fundraiser: @fundraiser, event: @event, event_donation: EventDonation.new %>

<% @event.event_donations.each do |event| %>
<%= event.amount  %>
<% end %>
