<div class="container">
  <h1>About us!</h1>
  <p> A couple of inspired indivuals looking to make the world a better place</p>

  <p> Thesis: There is a distinct group of people who would donate more frequently to Charity if there was a website offering highly deliverable/actionable initiatives from accredited/trustworthy/transparent charities </p>

  <p> Through creating the 'michelin star' website/platform for charities & their initiatives, we can inspire a generation of donators</p>

  <p> Through proper engagement (i.e. we don't take your money and run), together we can create a sustainable model.</p>

  <p> One stop portal to donate, learn about charity, raise money for, volunteer etx?</p>

  <p>let's get the ball running </p>

</div>
