<div class="home-banner" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.075) 0%, rgba(0, 0, 0, 0.5)), url('<%= image_path 'library/World.jpg' %>'); background-size: cover; background-position: center; background-attachment: fixed;">
  <div class="home-banner-caption text-center">
    <h1>SAVE THE WORLD TODAY</h1>
      <%= link_to "Go", fundraisers_path, class: "btn btn-primary btn-lg top-margin" %>
  </div>
</div>





