<div class="home-banner" style="background-image: url('<%= image_path 'library/World.jpg' %>'); background-size: cover; background-position: center; background-attachment: fixed;">
  <div class="home-banner-caption">
    <h1>Save the world today</h1>
  </div>
</div>





