<h2><%= @charity.name %>
  <% if @charity.user == current_user %>
    <%= link_to "edit", edit_charity_path %>
  <% end %>
</h2>

<h3> <%= @charity.total_raised %> raised from <%= @charity.user.fundraisers.count %> fundraiser(s) </h3>
