<h2><%= @charity.name %></h2>
<% if @charity.user == current_user %>
  <%= link_to "edit", edit_charity_path %>
  <%= link_to "Delete", charity_destroy_path(@charity), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
<% end %>
