.ga-navbar {
  display: flex;
  align-items: center;
  height: 70px;
  background-color: RGBA(25, 25, 25, 0.9);
  width: 100vw;
  padding: 0px 20px;
  justify-content: space-between;
}

.small-nav-logo img {
  height: 60px;
  padding: 10px;
}

.ga-nav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    color:  white;
    opacity: 0.8;
    margin: 0px 10px;
    &:hover {
      text-decoration: none;
      opacity: 0.5;
    }
  }
}
