.half-page-image {
  height: 50vh;
  width: 100%;
  object-fit: cover;
}

.gallery-image:hover {
  opacity: 0.9;
}

.small-img {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 20vw;
    margin: 0px 15px;
  }
}
