.index-page {
  position: relative;
  h2 {
    font-size: 4.5vmin;
  }
  h3 {
    font-size: 3.8vmin;
  }
  p {
    font-size: 3vmin;
  }
}

.left-text {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
}
